﻿@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<br />
<div class="container-fluid d-flex justify-content-center align-items-center vh-50">
    <div class="text-center">
        <h5>Welcome To <i class="bi bi-sign-merge-left-fill"></i> Konnex</h5>
        <h6>A software to manage users on the internet</h6>
        @if (!User.Identity.IsAuthenticated)
        {
            <a style="width:120px;" class="btn btn-outline-primary rounded-1 mt-2"
             id="login" asp-area="Identity" asp-page="/Account/Login">
                Sign in
            </a>
        }
    </div>
</div>
