html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Styling for rows of blocked users */
.blocked-row {
    background-color: #f8f9fa; /* Optional: Light gray background */
}

.blocked-row td {
    opacity: 0.6; /* Make all text in the row semi-transparent */
}

.blocked-row span.name-field {
    text-decoration: line-through; /* Strikethrough the name field */
    opacity: 1; /* Keep the name field fully visible */
}

